flows.json
[
    {
        "id": "7b9ed63e.2138f8",
        "type": "tab",
        "label": "Basic_Flow",
        "disabled": false,
        "info": "# Basic flow to start with STM32CubeMonitor."
    },
    {
        "id": "1ebbb430.dac7dc",
        "type": "ui_chartst",
        "z": "7b9ed63e.2138f8",
        "group": "f9c34dde.1e2f4",
        "name": "myChart",
        "order": 4,
        "width": 15,
        "height": 9,
        "chartType": "line",
        "curveType": "linear",
        "duration": "10",
        "ymin": "",
        "ymax": "",
        "x": 580,
        "y": 280,
        "wires": []
    },
    {
        "id": "6013fb0b.5b7504",
        "type": "acquisition out",
        "z": "7b9ed63e.2138f8",
        "name": "myProbe_Out",
        "probeconfig": "391b2008.e7754",
        "x": 540,
        "y": 100,
        "wires": []
    },
    {
        "id": "4a573fb0.4bc99",
        "type": "acquisition in",
        "z": "7b9ed63e.2138f8",
        "name": "myProbe_In",
        "probeconfig": "391b2008.e7754",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "a7c3e070.5a6c"
            ],
            []
        ]
    },
    {
        "id": "d59587ff.cd1748",
        "type": "variables",
        "z": "7b9ed63e.2138f8",
        "groupname": "myVariables",
        "accesspoint": 0,
        "execonfig": "6d0bd87c.335978",
        "variablelist": [],
        "triggerstartmode": "manual",
        "triggername": "_mode",
        "triggerthreshold": "30000",
        "frequency": "",
        "frequencyType": "0",
        "snapshotheader": "",
        "mode": "direct",
        "lastImportedTime": 1638985789153,
        "openStatus": true,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "6013fb0b.5b7504"
            ],
            [
                "f14d0398.f1861"
            ]
        ]
    },
    {
        "id": "fc00295e.79ada8",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Clear Graphs",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "clear",
        "x": 390,
        "y": 380,
        "wires": [
            [
                "1ebbb430.dac7dc"
            ]
        ]
    },
    {
        "id": "5fd51c96.2330e4",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "START Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "start",
        "topicType": "str",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "d59587ff.cd1748"
            ]
        ]
    },
    {
        "id": "52eadfe3.2c8cc",
        "type": "ui_button",
        "z": "7b9ed63e.2138f8",
        "name": "",
        "group": "f9c34dde.1e2f4",
        "order": 2,
        "width": 5,
        "height": 1,
        "passthru": true,
        "label": "STOP Acquisition",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "stop",
        "topicType": "str",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "d59587ff.cd1748"
            ]
        ]
    },
    {
        "id": "a7c3e070.5a6c",
        "type": "processing",
        "z": "7b9ed63e.2138f8",
        "groupname": "myVariables",
        "groupid": "d59587ff.cd1748",
        "expressions": [],
        "statistics": [],
        "logmode": "no",
        "x": 390,
        "y": 280,
        "wires": [
            [
                "1ebbb430.dac7dc"
            ],
            []
        ]
    },
    {
        "id": "f14d0398.f1861",
        "type": "ui_toast",
        "z": "7b9ed63e.2138f8",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 530,
        "y": 160,
        "wires": []
    },
    {
        "id": "f9c34dde.1e2f4",
        "type": "ui_group",
        "name": "Chart",
        "tab": "17d09b07.741a55",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false
    },
    {
        "id": "391b2008.e7754",
        "type": "probe",
        "probeid": "321905003212374D434B4E00",
        "probename": "ST-Link v2 (...B4E00)",
        "protocol": "SWD",
        "frequency": "1.8 MHz - Default",
        "probeproperty": "{\"SWD\":[\"4.6 MHz\",\"1.8 MHz - Default\",\"950 kHz\",\"400 kHz\",\"150 kHz\"],\"JTAG\":[\"18 MHz\",\"9 MHz\",\"4.5 MHz\",\"2.25 MHz\",\"1.12 MHz - Default\",\"560 kHz\",\"280 kHz\",\"140 kHz\"]}",
        "probeversion": "ST Link firmware version V2.J37",
        "connectionType": "p2p"
    },
    {
        "id": "6d0bd87c.335978",
        "type": "exe-config",
        "name": "RF1",
        "exefile": "G:\\Project\\401\\RFM69_RT\\RFM69_T\\MDK-ARM\\RFM69_T\\RFM69_T.axf",
        "exefolder": "G:\\Project\\401\\RFM69_RT\\RFM69_T\\MDK-ARM\\RFM69_T",
        "exevariablelist": [
            {
                "address": "0x200052bc",
                "name": "__AES_CTR_IV[0]",
                "type": 1
            },
            {
                "address": "0x2000529c",
                "name": "__AES_CTR_Key[0]",
                "type": 1
            },
            {
                "address": "0x20000214",
                "name": "__AES_CTR_Key_Lenght",
                "type": 1
            },
            {
                "address": "0x20004ea0",
                "name": "_ackRec.crc",
                "type": 5
            },
            {
                "address": "0x20004e98",
                "name": "_ackRec.dataRand",
                "type": 5
            },
            {
                "address": "0x20004e9c",
                "name": "_ackRec.flags",
                "type": 1
            },
            {
                "address": "0x20004e94",
                "name": "_ackRec.lenght",
                "type": 3
            },
            {
                "address": "0x20004ea4",
                "name": "_ackRec.sessionRand",
                "type": 5
            },
            {
                "address": "0x20004eb4",
                "name": "_ackSnd.crc",
                "type": 5
            },
            {
                "address": "0x20004eac",
                "name": "_ackSnd.dataRand",
                "type": 5
            },
            {
                "address": "0x20004eb0",
                "name": "_ackSnd.flags",
                "type": 1
            },
            {
                "address": "0x20004ea8",
                "name": "_ackSnd.lenght",
                "type": 3
            },
            {
                "address": "0x20004eb8",
                "name": "_ackSnd.sessionRand",
                "type": 5
            },
            {
                "address": "0x20000234",
                "name": "_all",
                "type": 5
            },
            {
                "address": "0x20000230",
                "name": "_bad",
                "type": 5
            },
            {
                "address": "0x200000a2",
                "name": "_buf_len",
                "type": 3
            },
            {
                "address": "0x200000cc",
                "name": "_count_FIFO",
                "type": 3
            },
            {
                "address": "0x200000a4",
                "name": "_crcPaket",
                "type": 5
            },
            {
                "address": "0x200000d4",
                "name": "_defaultFreq",
                "type": 9
            },
            {
                "address": "0x200000aa",
                "name": "_defaultModemConfig",
                "type": 2
            },
            {
                "address": "0x200000c4",
                "name": "_defaultPreambleLength",
                "type": 3
            },
            {
                "address": "0x200000e4",
                "name": "_defaultSyncWord[0]",
                "type": 1
            },
            {
                "address": "0x200000ab",
                "name": "_defaultSyncWordLenght",
                "type": 1
            },
            {
                "address": "0x2000022a",
                "name": "_DioPin",
                "type": 3
            },
            {
                "address": "0x200000b4",
                "name": "_exitWaitAvailable",
                "type": 1
            },
            {
                "address": "0x20004b4c",
                "name": "_fix_pack._header.crc",
                "type": 5
            },
            {
                "address": "0x20004b44",
                "name": "_fix_pack._header.dataRand",
                "type": 5
            },
            {
                "address": "0x20004b48",
                "name": "_fix_pack._header.flags",
                "type": 1
            },
            {
                "address": "0x20004b40",
                "name": "_fix_pack._header.lenght",
                "type": 3
            },
            {
                "address": "0x20004b50",
                "name": "_fix_pack._packet[0]",
                "type": 1
            },
            {
                "address": "0x200000b0",
                "name": "_flag_Rx_Busy",
                "type": 1
            },
            {
                "address": "0x200000b1",
                "name": "_flag_Tx_Busy",
                "type": 1
            },
            {
                "address": "0x200000b2",
                "name": "_flag_Tx_End",
                "type": 1
            },
            {
                "address": "0x200000ac",
                "name": "_flagIRQ_DIO0",
                "type": 1
            },
            {
                "address": "0x200000ad",
                "name": "_flagIRQ_DIO1",
                "type": 1
            },
            {
                "address": "0x200000af",
                "name": "_flagUseAES",
                "type": 1
            },
            {
                "address": "0x2000022c",
                "name": "_good",
                "type": 5
            },
            {
                "address": "0x200000c2",
                "name": "_lastRssi",
                "type": 2
            },
            {
                "address": "0x200000f0",
                "name": "_LMessage[0]",
                "type": 1
            },
            {
                "address": "0x200000c0",
                "name": "_mode",
                "type": 2,
                "checked": true
            },
            {
                "address": "0x20005203",
                "name": "_packetFix._data[0]",
                "type": 1
            },
            {
                "address": "0x20005202",
                "name": "_packetFix._header._HeaderLenght",
                "type": 1
            },
            {
                "address": "0x200000bf",
                "name": "_packetLenght",
                "type": 1
            },
            {
                "address": "0x200000ae",
                "name": "_PacketMode",
                "type": 2
            },
            {
                "address": "0x20004eff",
                "name": "_packetVar._data[0]",
                "type": 1,
                "checked": true
            },
            {
                "address": "0x20004efe",
                "name": "_packetVar._header._HeaderLenght",
                "type": 1
            },
            {
                "address": "0x200000c1",
                "name": "_power",
                "type": 2
            },
            {
                "address": "0x200000b3",
                "name": "_rxBufValid",
                "type": 1
            },
            {
                "address": "0x200000d0",
                "name": "_seekPacket",
                "type": 3
            },
            {
                "address": "0x200000ce",
                "name": "_sizeFIFO_data",
                "type": 3
            },
            {
                "address": "0x200000a8",
                "name": "_thisAdress",
                "type": 1
            },
            {
                "address": "0x200000ec",
                "name": "_timer_c_hTim",
                "type": 5
            },
            {
                "address": "0x200000a9",
                "name": "_toAdress",
                "type": 1
            },
            {
                "address": "0x20004c90",
                "name": "_unlim_pack._header.crc",
                "type": 5
            },
            {
                "address": "0x20004c88",
                "name": "_unlim_pack._header.dataRand",
                "type": 5
            },
            {
                "address": "0x20004c8c",
                "name": "_unlim_pack._header.flags",
                "type": 1
            },
            {
                "address": "0x20004c84",
                "name": "_unlim_pack._header.lenght",
                "type": 3
            },
            {
                "address": "0x20004c94",
                "name": "_unlim_pack._packet[0]",
                "type": 1
            },
            {
                "address": "0x20005002",
                "name": "_unlimPacketSend._data[0]",
                "type": 1
            },
            {
                "address": "0x20004ffe",
                "name": "_unlimPacketSend._header._adresTo",
                "type": 1
            },
            {
                "address": "0x20005000",
                "name": "_unlimPacketSend._header._lenghtData",
                "type": 3
            },
            {
                "address": "0x20004b90",
                "name": "_var_pack._header.crc",
                "type": 5
            },
            {
                "address": "0x20004b88",
                "name": "_var_pack._header.dataRand",
                "type": 5
            },
            {
                "address": "0x20004b8c",
                "name": "_var_pack._header.flags",
                "type": 1
            },
            {
                "address": "0x20004b84",
                "name": "_var_pack._header.lenght",
                "type": 3
            },
            {
                "address": "0x20004b94",
                "name": "_var_pack._packet[0]",
                "type": 1
            },
            {
                "address": "0x08006cf8",
                "name": "AHBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x20000215",
                "name": "AK_Key128[0]",
                "type": 1
            },
            {
                "address": "0x08006d08",
                "name": "APBPrescTable[0]",
                "type": 1
            },
            {
                "address": "0x200000c3",
                "name": "bFlagUseSPI",
                "type": 1
            },
            {
                "address": "0x200000c8",
                "name": "bufRX[0]",
                "type": 1,
                "checked": false
            },
            {
                "address": "0x200000ca",
                "name": "bufTX[0]",
                "type": 1
            },
            {
                "address": "0x200000a0",
                "name": "cnt",
                "type": 1
            },
            {
                "address": "0x08006e0c",
                "name": "defaultTask_attributes.attr_bits",
                "type": 5
            },
            {
                "address": "0x08006e10",
                "name": "defaultTask_attributes.cb_mem",
                "type": 5
            },
            {
                "address": "0x08006e14",
                "name": "defaultTask_attributes.cb_size",
                "type": 5
            },
            {
                "address": "0x08006e08",
                "name": "defaultTask_attributes.name",
                "type": 5
            },
            {
                "address": "0x08006e20",
                "name": "defaultTask_attributes.priority",
                "type": 4
            },
            {
                "address": "0x08006e28",
                "name": "defaultTask_attributes.reserved",
                "type": 5
            },
            {
                "address": "0x08006e18",
                "name": "defaultTask_attributes.stack_mem",
                "type": 5
            },
            {
                "address": "0x08006e1c",
                "name": "defaultTask_attributes.stack_size",
                "type": 5
            },
            {
                "address": "0x08006e24",
                "name": "defaultTask_attributes.tz_module",
                "type": 5
            },
            {
                "address": "0x200052cc",
                "name": "defaultTaskBuffer[0]",
                "type": 5
            },
            {
                "address": "0x200054cc",
                "name": "defaultTaskControlBlock.pxDummy1",
                "type": 5
            },
            {
                "address": "0x200054fc",
                "name": "defaultTaskControlBlock.pxDummy6",
                "type": 5
            },
            {
                "address": "0x20005524",
                "name": "defaultTaskControlBlock.ucDummy19",
                "type": 1
            },
            {
                "address": "0x20005500",
                "name": "defaultTaskControlBlock.ucDummy7[0]",
                "type": 1
            },
            {
                "address": "0x20005520",
                "name": "defaultTaskControlBlock.ulDummy18",
                "type": 5
            },
            {
                "address": "0x20005510",
                "name": "defaultTaskControlBlock.uxDummy10[0]",
                "type": 5
            },
            {
                "address": "0x20005518",
                "name": "defaultTaskControlBlock.uxDummy12[0]",
                "type": 5
            },
            {
                "address": "0x20005525",
                "name": "defaultTaskControlBlock.uxDummy20",
                "type": 1
            },
            {
                "address": "0x200054f8",
                "name": "defaultTaskControlBlock.uxDummy5",
                "type": 5
            },
            {
                "address": "0x200054d4",
                "name": "defaultTaskControlBlock.xDummy3[0].pvDummy3[0]",
                "type": 5
            },
            {
                "address": "0x200054d0",
                "name": "defaultTaskControlBlock.xDummy3[0].xDummy2",
                "type": 5
            },
            {
                "address": "0x2000023c",
                "name": "defaultTaskHandle",
                "type": 5
            },
            {
                "address": "0x20005d84",
                "name": "DIO_RF69Buffer[0]",
                "type": 5
            },
            {
                "address": "0x20006184",
                "name": "DIO_RF69ControlBlock.pxDummy1",
                "type": 5
            },
            {
                "address": "0x200061b4",
                "name": "DIO_RF69ControlBlock.pxDummy6",
                "type": 5
            },
            {
                "address": "0x200061dc",
                "name": "DIO_RF69ControlBlock.ucDummy19",
                "type": 1
            },
            {
                "address": "0x200061b8",
                "name": "DIO_RF69ControlBlock.ucDummy7[0]",
                "type": 1
            },
            {
                "address": "0x200061d8",
                "name": "DIO_RF69ControlBlock.ulDummy18",
                "type": 5
            },
            {
                "address": "0x200061c8",
                "name": "DIO_RF69ControlBlock.uxDummy10[0]",
                "type": 5
            },
            {
                "address": "0x200061d0",
                "name": "DIO_RF69ControlBlock.uxDummy12[0]",
                "type": 5
            },
            {
                "address": "0x200061dd",
                "name": "DIO_RF69ControlBlock.uxDummy20",
                "type": 1
            },
            {
                "address": "0x200061b0",
                "name": "DIO_RF69ControlBlock.uxDummy5",
                "type": 5
            },
            {
                "address": "0x2000618c",
                "name": "DIO_RF69ControlBlock.xDummy3[0].pvDummy3[0]",
                "type": 5
            },
            {
                "address": "0x20006188",
                "name": "DIO_RF69ControlBlock.xDummy3[0].xDummy2",
                "type": 5
            },
            {
                "address": "0x08006de8",
                "name": "entropy_data[0]",
                "type": 1
            },
            {
                "address": "0x20000264",
                "name": "hcrc.Instance",
                "type": 5
            },
            {
                "address": "0x20000268",
                "name": "hcrc.Lock",
                "type": 2
            },
            {
                "address": "0x20000269",
                "name": "hcrc.State",
                "type": 2
            },
            {
                "address": "0x2000684c",
                "name": "hdma_spi2_rx.ErrorCode",
                "type": 5
            },
            {
                "address": "0x200067fc",
                "name": "hdma_spi2_rx.Init.Channel",
                "type": 5
            },
            {
                "address": "0x20006800",
                "name": "hdma_spi2_rx.Init.Direction",
                "type": 5
            },
            {
                "address": "0x2000681c",
                "name": "hdma_spi2_rx.Init.FIFOMode",
                "type": 5
            },
            {
                "address": "0x20006820",
                "name": "hdma_spi2_rx.Init.FIFOThreshold",
                "type": 5
            },
            {
                "address": "0x20006824",
                "name": "hdma_spi2_rx.Init.MemBurst",
                "type": 5
            },
            {
                "address": "0x20006810",
                "name": "hdma_spi2_rx.Init.MemDataAlignment",
                "type": 5
            },
            {
                "address": "0x20006808",
                "name": "hdma_spi2_rx.Init.MemInc",
                "type": 5
            },
            {
                "address": "0x20006814",
                "name": "hdma_spi2_rx.Init.Mode",
                "type": 5
            },
            {
                "address": "0x20006828",
                "name": "hdma_spi2_rx.Init.PeriphBurst",
                "type": 5
            },
            {
                "address": "0x2000680c",
                "name": "hdma_spi2_rx.Init.PeriphDataAlignment",
                "type": 5
            },
            {
                "address": "0x20006804",
                "name": "hdma_spi2_rx.Init.PeriphInc",
                "type": 5
            },
            {
                "address": "0x20006818",
                "name": "hdma_spi2_rx.Init.Priority",
                "type": 5
            },
            {
                "address": "0x200067f8",
                "name": "hdma_spi2_rx.Instance",
                "type": 5
            },
            {
                "address": "0x2000682c",
                "name": "hdma_spi2_rx.Lock",
                "type": 2
            },
            {
                "address": "0x20006830",
                "name": "hdma_spi2_rx.Parent",
                "type": 5
            },
            {
                "address": "0x2000682d",
                "name": "hdma_spi2_rx.State",
                "type": 2
            },
            {
                "address": "0x20006850",
                "name": "hdma_spi2_rx.StreamBaseAddress",
                "type": 5
            },
            {
                "address": "0x20006854",
                "name": "hdma_spi2_rx.StreamIndex",
                "type": 5
            },
            {
                "address": "0x20006848",
                "name": "hdma_spi2_rx.XferAbortCallback",
                "type": 5
            },
            {
                "address": "0x20006834",
                "name": "hdma_spi2_rx.XferCpltCallback",
                "type": 5
            },
            {
                "address": "0x20006844",
                "name": "hdma_spi2_rx.XferErrorCallback",
                "type": 5
            },
            {
                "address": "0x20006838",
                "name": "hdma_spi2_rx.XferHalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x2000683c",
                "name": "hdma_spi2_rx.XferM1CpltCallback",
                "type": 5
            },
            {
                "address": "0x20006840",
                "name": "hdma_spi2_rx.XferM1HalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x200068ac",
                "name": "hdma_spi2_tx.ErrorCode",
                "type": 5
            },
            {
                "address": "0x2000685c",
                "name": "hdma_spi2_tx.Init.Channel",
                "type": 5
            },
            {
                "address": "0x20006860",
                "name": "hdma_spi2_tx.Init.Direction",
                "type": 5
            },
            {
                "address": "0x2000687c",
                "name": "hdma_spi2_tx.Init.FIFOMode",
                "type": 5
            },
            {
                "address": "0x20006880",
                "name": "hdma_spi2_tx.Init.FIFOThreshold",
                "type": 5
            },
            {
                "address": "0x20006884",
                "name": "hdma_spi2_tx.Init.MemBurst",
                "type": 5
            },
            {
                "address": "0x20006870",
                "name": "hdma_spi2_tx.Init.MemDataAlignment",
                "type": 5
            },
            {
                "address": "0x20006868",
                "name": "hdma_spi2_tx.Init.MemInc",
                "type": 5
            },
            {
                "address": "0x20006874",
                "name": "hdma_spi2_tx.Init.Mode",
                "type": 5
            },
            {
                "address": "0x20006888",
                "name": "hdma_spi2_tx.Init.PeriphBurst",
                "type": 5
            },
            {
                "address": "0x2000686c",
                "name": "hdma_spi2_tx.Init.PeriphDataAlignment",
                "type": 5
            },
            {
                "address": "0x20006864",
                "name": "hdma_spi2_tx.Init.PeriphInc",
                "type": 5
            },
            {
                "address": "0x20006878",
                "name": "hdma_spi2_tx.Init.Priority",
                "type": 5
            },
            {
                "address": "0x20006858",
                "name": "hdma_spi2_tx.Instance",
                "type": 5
            },
            {
                "address": "0x2000688c",
                "name": "hdma_spi2_tx.Lock",
                "type": 2
            },
            {
                "address": "0x20006890",
                "name": "hdma_spi2_tx.Parent",
                "type": 5
            },
            {
                "address": "0x2000688d",
                "name": "hdma_spi2_tx.State",
                "type": 2
            },
            {
                "address": "0x200068b0",
                "name": "hdma_spi2_tx.StreamBaseAddress",
                "type": 5
            },
            {
                "address": "0x200068b4",
                "name": "hdma_spi2_tx.StreamIndex",
                "type": 5
            },
            {
                "address": "0x200068a8",
                "name": "hdma_spi2_tx.XferAbortCallback",
                "type": 5
            },
            {
                "address": "0x20006894",
                "name": "hdma_spi2_tx.XferCpltCallback",
                "type": 5
            },
            {
                "address": "0x200068a4",
                "name": "hdma_spi2_tx.XferErrorCallback",
                "type": 5
            },
            {
                "address": "0x20006898",
                "name": "hdma_spi2_tx.XferHalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x2000689c",
                "name": "hdma_spi2_tx.XferM1CpltCallback",
                "type": 5
            },
            {
                "address": "0x200068a0",
                "name": "hdma_spi2_tx.XferM1HalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x20006770",
                "name": "hi2c1.Devaddress",
                "type": 5
            },
            {
                "address": "0x2000676c",
                "name": "hi2c1.ErrorCode",
                "type": 5
            },
            {
                "address": "0x2000677c",
                "name": "hi2c1.EventCount",
                "type": 5
            },
            {
                "address": "0x20006764",
                "name": "hi2c1.hdmarx",
                "type": 5
            },
            {
                "address": "0x20006760",
                "name": "hi2c1.hdmatx",
                "type": 5
            },
            {
                "address": "0x2000673c",
                "name": "hi2c1.Init.AddressingMode",
                "type": 5
            },
            {
                "address": "0x20006730",
                "name": "hi2c1.Init.ClockSpeed",
                "type": 5
            },
            {
                "address": "0x20006740",
                "name": "hi2c1.Init.DualAddressMode",
                "type": 5
            },
            {
                "address": "0x20006734",
                "name": "hi2c1.Init.DutyCycle",
                "type": 5
            },
            {
                "address": "0x20006748",
                "name": "hi2c1.Init.GeneralCallMode",
                "type": 5
            },
            {
                "address": "0x2000674c",
                "name": "hi2c1.Init.NoStretchMode",
                "type": 5
            },
            {
                "address": "0x20006738",
                "name": "hi2c1.Init.OwnAddress1",
                "type": 5
            },
            {
                "address": "0x20006744",
                "name": "hi2c1.Init.OwnAddress2",
                "type": 5
            },
            {
                "address": "0x2000672c",
                "name": "hi2c1.Instance",
                "type": 5
            },
            {
                "address": "0x20006768",
                "name": "hi2c1.Lock",
                "type": 2
            },
            {
                "address": "0x20006774",
                "name": "hi2c1.Memaddress",
                "type": 5
            },
            {
                "address": "0x20006778",
                "name": "hi2c1.MemaddSize",
                "type": 5
            },
            {
                "address": "0x2000676a",
                "name": "hi2c1.Mode",
                "type": 2
            },
            {
                "address": "0x20006750",
                "name": "hi2c1.pBuffPtr",
                "type": 5
            },
            {
                "address": "0x2000675c",
                "name": "hi2c1.PreviousState",
                "type": 5
            },
            {
                "address": "0x20006769",
                "name": "hi2c1.State",
                "type": 2
            },
            {
                "address": "0x20006756",
                "name": "hi2c1.XferCount",
                "type": 3
            },
            {
                "address": "0x20006758",
                "name": "hi2c1.XferOptions",
                "type": 5
            },
            {
                "address": "0x20006754",
                "name": "hi2c1.XferSize",
                "type": 3
            },
            {
                "address": "0x20006788",
                "name": "hrtc.Init.AsynchPrediv",
                "type": 5
            },
            {
                "address": "0x20006784",
                "name": "hrtc.Init.HourFormat",
                "type": 5
            },
            {
                "address": "0x20006790",
                "name": "hrtc.Init.OutPut",
                "type": 5
            },
            {
                "address": "0x20006794",
                "name": "hrtc.Init.OutPutPolarity",
                "type": 5
            },
            {
                "address": "0x20006798",
                "name": "hrtc.Init.OutPutType",
                "type": 5
            },
            {
                "address": "0x2000678c",
                "name": "hrtc.Init.SynchPrediv",
                "type": 5
            },
            {
                "address": "0x20006780",
                "name": "hrtc.Instance",
                "type": 5
            },
            {
                "address": "0x2000679c",
                "name": "hrtc.Lock",
                "type": 2
            },
            {
                "address": "0x2000679d",
                "name": "hrtc.State",
                "type": 2
            },
            {
                "address": "0x200067f4",
                "name": "hspi2.ErrorCode",
                "type": 5
            },
            {
                "address": "0x200067ec",
                "name": "hspi2.hdmarx",
                "type": 5
            },
            {
                "address": "0x200067e8",
                "name": "hspi2.hdmatx",
                "type": 5
            },
            {
                "address": "0x200067bc",
                "name": "hspi2.Init.BaudRatePrescaler",
                "type": 5
            },
            {
                "address": "0x200067b4",
                "name": "hspi2.Init.CLKPhase",
                "type": 5
            },
            {
                "address": "0x200067b0",
                "name": "hspi2.Init.CLKPolarity",
                "type": 5
            },
            {
                "address": "0x200067c8",
                "name": "hspi2.Init.CRCCalculation",
                "type": 5
            },
            {
                "address": "0x200067cc",
                "name": "hspi2.Init.CRCPolynomial",
                "type": 5
            },
            {
                "address": "0x200067ac",
                "name": "hspi2.Init.DataSize",
                "type": 5
            },
            {
                "address": "0x200067a8",
                "name": "hspi2.Init.Direction",
                "type": 5
            },
            {
                "address": "0x200067c0",
                "name": "hspi2.Init.FirstBit",
                "type": 5
            },
            {
                "address": "0x200067a4",
                "name": "hspi2.Init.Mode",
                "type": 5
            },
            {
                "address": "0x200067b8",
                "name": "hspi2.Init.NSS",
                "type": 5
            },
            {
                "address": "0x200067c4",
                "name": "hspi2.Init.TIMode",
                "type": 5
            },
            {
                "address": "0x200067a0",
                "name": "hspi2.Instance",
                "type": 5
            },
            {
                "address": "0x200067f0",
                "name": "hspi2.Lock",
                "type": 2
            },
            {
                "address": "0x200067d8",
                "name": "hspi2.pRxBuffPtr",
                "type": 5
            },
            {
                "address": "0x200067d0",
                "name": "hspi2.pTxBuffPtr",
                "type": 5
            },
            {
                "address": "0x200067e0",
                "name": "hspi2.RxISR",
                "type": 5
            },
            {
                "address": "0x200067de",
                "name": "hspi2.RxXferCount",
                "type": 3
            },
            {
                "address": "0x200067dc",
                "name": "hspi2.RxXferSize",
                "type": 3
            },
            {
                "address": "0x200067f1",
                "name": "hspi2.State",
                "type": 2
            },
            {
                "address": "0x200067e4",
                "name": "hspi2.TxISR",
                "type": 5
            },
            {
                "address": "0x200067d6",
                "name": "hspi2.TxXferCount",
                "type": 3
            },
            {
                "address": "0x200067d4",
                "name": "hspi2.TxXferSize",
                "type": 3
            },
            {
                "address": "0x20006904",
                "name": "htim10.Base_MspDeInitCallback",
                "type": 5
            },
            {
                "address": "0x20006900",
                "name": "htim10.Base_MspInitCallback",
                "type": 5
            },
            {
                "address": "0x20006968",
                "name": "htim10.BreakCallback",
                "type": 5
            },
            {
                "address": "0x200068d4",
                "name": "htim10.Channel",
                "type": 2
            },
            {
                "address": "0x200068fa",
                "name": "htim10.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x200068f6",
                "name": "htim10.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x20006960",
                "name": "htim10.CommutationCallback",
                "type": 5
            },
            {
                "address": "0x20006964",
                "name": "htim10.CommutationHalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x200068fe",
                "name": "htim10.DMABurstState",
                "type": 2
            },
            {
                "address": "0x2000692c",
                "name": "htim10.Encoder_MspDeInitCallback",
                "type": 5
            },
            {
                "address": "0x20006928",
                "name": "htim10.Encoder_MspInitCallback",
                "type": 5
            },
            {
                "address": "0x2000695c",
                "name": "htim10.ErrorCallback",
                "type": 5
            },
            {
                "address": "0x20006934",
                "name": "htim10.HallSensor_MspDeInitCallback",
                "type": 5
            },
            {
                "address": "0x20006930",
                "name": "htim10.HallSensor_MspInitCallback",
                "type": 5
            },
            {
                "address": "0x200068d8",
                "name": "htim10.hdma[0]",
                "type": 5
            },
            {
                "address": "0x20006948",
                "name": "htim10.IC_CaptureCallback",
                "type": 5
            },
            {
                "address": "0x2000694c",
                "name": "htim10.IC_CaptureHalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x2000690c",
                "name": "htim10.IC_MspDeInitCallback",
                "type": 5
            },
            {
                "address": "0x20006908",
                "name": "htim10.IC_MspInitCallback",
                "type": 5
            },
            {
                "address": "0x200068d0",
                "name": "htim10.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x200068c8",
                "name": "htim10.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x200068c0",
                "name": "htim10.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x200068c4",
                "name": "htim10.Init.Period",
                "type": 5
            },
            {
                "address": "0x200068bc",
                "name": "htim10.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x200068cc",
                "name": "htim10.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x200068b8",
                "name": "htim10.Instance",
                "type": 5
            },
            {
                "address": "0x200068f4",
                "name": "htim10.Lock",
                "type": 2
            },
            {
                "address": "0x20006950",
                "name": "htim10.OC_DelayElapsedCallback",
                "type": 5
            },
            {
                "address": "0x20006914",
                "name": "htim10.OC_MspDeInitCallback",
                "type": 5
            },
            {
                "address": "0x20006910",
                "name": "htim10.OC_MspInitCallback",
                "type": 5
            },
            {
                "address": "0x20006924",
                "name": "htim10.OnePulse_MspDeInitCallback",
                "type": 5
            },
            {
                "address": "0x20006920",
                "name": "htim10.OnePulse_MspInitCallback",
                "type": 5
            },
            {
                "address": "0x20006938",
                "name": "htim10.PeriodElapsedCallback",
                "type": 5
            },
            {
                "address": "0x2000693c",
                "name": "htim10.PeriodElapsedHalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x2000691c",
                "name": "htim10.PWM_MspDeInitCallback",
                "type": 5
            },
            {
                "address": "0x20006918",
                "name": "htim10.PWM_MspInitCallback",
                "type": 5
            },
            {
                "address": "0x20006954",
                "name": "htim10.PWM_PulseFinishedCallback",
                "type": 5
            },
            {
                "address": "0x20006958",
                "name": "htim10.PWM_PulseFinishedHalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x200068f5",
                "name": "htim10.State",
                "type": 2
            },
            {
                "address": "0x20006940",
                "name": "htim10.TriggerCallback",
                "type": 5
            },
            {
                "address": "0x20006944",
                "name": "htim10.TriggerHalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x200069b8",
                "name": "htim11.Base_MspDeInitCallback",
                "type": 5
            },
            {
                "address": "0x200069b4",
                "name": "htim11.Base_MspInitCallback",
                "type": 5
            },
            {
                "address": "0x20006a1c",
                "name": "htim11.BreakCallback",
                "type": 5
            },
            {
                "address": "0x20006988",
                "name": "htim11.Channel",
                "type": 2
            },
            {
                "address": "0x200069ae",
                "name": "htim11.ChannelNState[0]",
                "type": 2
            },
            {
                "address": "0x200069aa",
                "name": "htim11.ChannelState[0]",
                "type": 2
            },
            {
                "address": "0x20006a14",
                "name": "htim11.CommutationCallback",
                "type": 5
            },
            {
                "address": "0x20006a18",
                "name": "htim11.CommutationHalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x200069b2",
                "name": "htim11.DMABurstState",
                "type": 2
            },
            {
                "address": "0x200069e0",
                "name": "htim11.Encoder_MspDeInitCallback",
                "type": 5
            },
            {
                "address": "0x200069dc",
                "name": "htim11.Encoder_MspInitCallback",
                "type": 5
            },
            {
                "address": "0x20006a10",
                "name": "htim11.ErrorCallback",
                "type": 5
            },
            {
                "address": "0x200069e8",
                "name": "htim11.HallSensor_MspDeInitCallback",
                "type": 5
            },
            {
                "address": "0x200069e4",
                "name": "htim11.HallSensor_MspInitCallback",
                "type": 5
            },
            {
                "address": "0x2000698c",
                "name": "htim11.hdma[0]",
                "type": 5
            },
            {
                "address": "0x200069fc",
                "name": "htim11.IC_CaptureCallback",
                "type": 5
            },
            {
                "address": "0x20006a00",
                "name": "htim11.IC_CaptureHalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x200069c0",
                "name": "htim11.IC_MspDeInitCallback",
                "type": 5
            },
            {
                "address": "0x200069bc",
                "name": "htim11.IC_MspInitCallback",
                "type": 5
            },
            {
                "address": "0x20006984",
                "name": "htim11.Init.AutoReloadPreload",
                "type": 5
            },
            {
                "address": "0x2000697c",
                "name": "htim11.Init.ClockDivision",
                "type": 5
            },
            {
                "address": "0x20006974",
                "name": "htim11.Init.CounterMode",
                "type": 5
            },
            {
                "address": "0x20006978",
                "name": "htim11.Init.Period",
                "type": 5
            },
            {
                "address": "0x20006970",
                "name": "htim11.Init.Prescaler",
                "type": 5
            },
            {
                "address": "0x20006980",
                "name": "htim11.Init.RepetitionCounter",
                "type": 5
            },
            {
                "address": "0x2000696c",
                "name": "htim11.Instance",
                "type": 5
            },
            {
                "address": "0x200069a8",
                "name": "htim11.Lock",
                "type": 2
            },
            {
                "address": "0x20006a04",
                "name": "htim11.OC_DelayElapsedCallback",
                "type": 5
            },
            {
                "address": "0x200069c8",
                "name": "htim11.OC_MspDeInitCallback",
                "type": 5
            },
            {
                "address": "0x200069c4",
                "name": "htim11.OC_MspInitCallback",
                "type": 5
            },
            {
                "address": "0x200069d8",
                "name": "htim11.OnePulse_MspDeInitCallback",
                "type": 5
            },
            {
                "address": "0x200069d4",
                "name": "htim11.OnePulse_MspInitCallback",
                "type": 5
            },
            {
                "address": "0x200069ec",
                "name": "htim11.PeriodElapsedCallback",
                "type": 5
            },
            {
                "address": "0x200069f0",
                "name": "htim11.PeriodElapsedHalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x200069d0",
                "name": "htim11.PWM_MspDeInitCallback",
                "type": 5
            },
            {
                "address": "0x200069cc",
                "name": "htim11.PWM_MspInitCallback",
                "type": 5
            },
            {
                "address": "0x20006a08",
                "name": "htim11.PWM_PulseFinishedCallback",
                "type": 5
            },
            {
                "address": "0x20006a0c",
                "name": "htim11.PWM_PulseFinishedHalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x200069a9",
                "name": "htim11.State",
                "type": 2
            },
            {
                "address": "0x200069f4",
                "name": "htim11.TriggerCallback",
                "type": 5
            },
            {
                "address": "0x200069f8",
                "name": "htim11.TriggerHalfCpltCallback",
                "type": 5
            },
            {
                "address": "0x08006e30",
                "name": "InitTask_attributes.attr_bits",
                "type": 5
            },
            {
                "address": "0x08006e34",
                "name": "InitTask_attributes.cb_mem",
                "type": 5
            },
            {
                "address": "0x08006e38",
                "name": "InitTask_attributes.cb_size",
                "type": 5
            },
            {
                "address": "0x08006e2c",
                "name": "InitTask_attributes.name",
                "type": 5
            },
            {
                "address": "0x08006e44",
                "name": "InitTask_attributes.priority",
                "type": 4
            },
            {
                "address": "0x08006e4c",
                "name": "InitTask_attributes.reserved",
                "type": 5
            },
            {
                "address": "0x08006e3c",
                "name": "InitTask_attributes.stack_mem",
                "type": 5
            },
            {
                "address": "0x08006e40",
                "name": "InitTask_attributes.stack_size",
                "type": 5
            },
            {
                "address": "0x08006e48",
                "name": "InitTask_attributes.tz_module",
                "type": 5
            },
            {
                "address": "0x20000240",
                "name": "InitTaskHandle",
                "type": 5
            },
            {
                "address": "0x20000060",
                "name": "KernelState",
                "type": 4
            },
            {
                "address": "0x08006d10",
                "name": "MODEM_CONFIG_TABLE[0].reg_02",
                "type": 1
            },
            {
                "address": "0x08006d11",
                "name": "MODEM_CONFIG_TABLE[0].reg_03",
                "type": 1
            },
            {
                "address": "0x08006d12",
                "name": "MODEM_CONFIG_TABLE[0].reg_04",
                "type": 1
            },
            {
                "address": "0x08006d13",
                "name": "MODEM_CONFIG_TABLE[0].reg_05",
                "type": 1
            },
            {
                "address": "0x08006d14",
                "name": "MODEM_CONFIG_TABLE[0].reg_06",
                "type": 1
            },
            {
                "address": "0x08006d15",
                "name": "MODEM_CONFIG_TABLE[0].reg_19",
                "type": 1
            },
            {
                "address": "0x08006d16",
                "name": "MODEM_CONFIG_TABLE[0].reg_1a",
                "type": 1
            },
            {
                "address": "0x08006d17",
                "name": "MODEM_CONFIG_TABLE[0].reg_37",
                "type": 1
            },
            {
                "address": "0x20000200",
                "name": "nonce[0]",
                "type": 1
            },
            {
                "address": "0x20000208",
                "name": "personalization_String[0]",
                "type": 1
            },
            {
                "address": "0x20000010",
                "name": "pxCurrentTCB",
                "type": 5
            },
            {
                "address": "0x20000058",
                "name": "pxCurrentTimerList",
                "type": 5
            },
            {
                "address": "0x20000044",
                "name": "pxDelayedTaskList",
                "type": 5
            },
            {
                "address": "0x20000074",
                "name": "pxEnd",
                "type": 5
            },
            {
                "address": "0x20000048",
                "name": "pxOverflowDelayedTaskList",
                "type": 5
            },
            {
                "address": "0x2000005c",
                "name": "pxOverflowTimerList",
                "type": 5
            },
            {
                "address": "0x200002b0",
                "name": "pxReadyTasksLists[0].pxIndex",
                "type": 5
            },
            {
                "address": "0x200002ac",
                "name": "pxReadyTasksLists[0].uxNumberOfItems",
                "type": 5
            },
            {
                "address": "0x200002b8",
                "name": "pxReadyTasksLists[0].xListEnd.pxNext",
                "type": 5
            },
            {
                "address": "0x200002bc",
                "name": "pxReadyTasksLists[0].xListEnd.pxPrevious",
                "type": 5
            },
            {
                "address": "0x200002b4",
                "name": "pxReadyTasksLists[0].xListEnd.xItemValue",
                "type": 5
            },
            {
                "address": "0x08006e54",
                "name": "RadioTask_attributes.attr_bits",
                "type": 5
            },
            {
                "address": "0x08006e58",
                "name": "RadioTask_attributes.cb_mem",
                "type": 5
            },
            {
                "address": "0x08006e5c",
                "name": "RadioTask_attributes.cb_size",
                "type": 5
            },
            {
                "address": "0x08006e50",
                "name": "RadioTask_attributes.name",
                "type": 5
            },
            {
                "address": "0x08006e68",
                "name": "RadioTask_attributes.priority",
                "type": 4
            },
            {
                "address": "0x08006e70",
                "name": "RadioTask_attributes.reserved",
                "type": 5
            },
            {
                "address": "0x08006e60",
                "name": "RadioTask_attributes.stack_mem",
                "type": 5
            },
            {
                "address": "0x08006e64",
                "name": "RadioTask_attributes.stack_size",
                "type": 5
            },
            {
                "address": "0x08006e6c",
                "name": "RadioTask_attributes.tz_module",
                "type": 5
            },
            {
                "address": "0x20005528",
                "name": "RadioTaskBuffer[0]",
                "type": 5
            },
            {
                "address": "0x20005d28",
                "name": "RadioTaskControlBlock.pxDummy1",
                "type": 5
            },
            {
                "address": "0x20005d58",
                "name": "RadioTaskControlBlock.pxDummy6",
                "type": 5
            },
            {
                "address": "0x20005d80",
                "name": "RadioTaskControlBlock.ucDummy19",
                "type": 1
            },
            {
                "address": "0x20005d5c",
                "name": "RadioTaskControlBlock.ucDummy7[0]",
                "type": 1
            },
            {
                "address": "0x20005d7c",
                "name": "RadioTaskControlBlock.ulDummy18",
                "type": 5
            },
            {
                "address": "0x20005d6c",
                "name": "RadioTaskControlBlock.uxDummy10[0]",
                "type": 5
            },
            {
                "address": "0x20005d74",
                "name": "RadioTaskControlBlock.uxDummy12[0]",
                "type": 5
            },
            {
                "address": "0x20005d81",
                "name": "RadioTaskControlBlock.uxDummy20",
                "type": 1
            },
            {
                "address": "0x20005d54",
                "name": "RadioTaskControlBlock.uxDummy5",
                "type": 5
            },
            {
                "address": "0x20005d30",
                "name": "RadioTaskControlBlock.xDummy3[0].pvDummy3[0]",
                "type": 5
            },
            {
                "address": "0x20005d2c",
                "name": "RadioTaskControlBlock.xDummy3[0].xDummy2",
                "type": 5
            },
            {
                "address": "0x20000244",
                "name": "RadioTaskHandle",
                "type": 5
            },
            {
                "address": "0x08006ee4",
                "name": "RF_Mutex_attributes.attr_bits",
                "type": 5
            },
            {
                "address": "0x08006ee8",
                "name": "RF_Mutex_attributes.cb_mem",
                "type": 5
            },
            {
                "address": "0x08006eec",
                "name": "RF_Mutex_attributes.cb_size",
                "type": 5
            },
            {
                "address": "0x08006ee0",
                "name": "RF_Mutex_attributes.name",
                "type": 5
            },
            {
                "address": "0x2000663c",
                "name": "RF_MutexControlBlock.pvDummy1[0]",
                "type": 5
            },
            {
                "address": "0x20006648",
                "name": "RF_MutexControlBlock.u.pvDummy2",
                "type": 5
            },
            {
                "address": "0x20006648",
                "name": "RF_MutexControlBlock.u.uxDummy2",
                "type": 5
            },
            {
                "address": "0x20006680",
                "name": "RF_MutexControlBlock.ucDummy5[0]",
                "type": 1
            },
            {
                "address": "0x20006682",
                "name": "RF_MutexControlBlock.ucDummy6",
                "type": 1
            },
            {
                "address": "0x20006688",
                "name": "RF_MutexControlBlock.ucDummy9",
                "type": 1
            },
            {
                "address": "0x20006674",
                "name": "RF_MutexControlBlock.uxDummy4[0]",
                "type": 5
            },
            {
                "address": "0x20006684",
                "name": "RF_MutexControlBlock.uxDummy8",
                "type": 5
            },
            {
                "address": "0x20006650",
                "name": "RF_MutexControlBlock.xDummy3[0].pvDummy3",
                "type": 5
            },
            {
                "address": "0x2000664c",
                "name": "RF_MutexControlBlock.xDummy3[0].uxDummy2",
                "type": 5
            },
            {
                "address": "0x20006658",
                "name": "RF_MutexControlBlock.xDummy3[0].xDummy4.pvDummy3[0]",
                "type": 5
            },
            {
                "address": "0x20006654",
                "name": "RF_MutexControlBlock.xDummy3[0].xDummy4.xDummy2",
                "type": 5
            },
            {
                "address": "0x20000254",
                "name": "RF_MutexHandle",
                "type": 5
            },
            {
                "address": "0x20005288",
                "name": "RNGinit_st.mEntropyDataSize",
                "type": 6
            },
            {
                "address": "0x20005290",
                "name": "RNGinit_st.mNonceSize",
                "type": 6
            },
            {
                "address": "0x20005298",
                "name": "RNGinit_st.mPersDataSize",
                "type": 6
            },
            {
                "address": "0x20005284",
                "name": "RNGinit_st.pmEntropyData",
                "type": 5
            },
            {
                "address": "0x2000528c",
                "name": "RNGinit_st.pmNonce",
                "type": 5
            },
            {
                "address": "0x20005294",
                "name": "RNGinit_st.pmPersData",
                "type": 5
            },
            {
                "address": "0x2000527c",
                "name": "RNGstate.mDRBGtype",
                "type": 6
            },
            {
                "address": "0x20005280",
                "name": "RNGstate.mFlag",
                "type": 5
            },
            {
                "address": "0x20005258",
                "name": "RNGstate.mRNGstate[0]",
                "type": 1
            },
            {
                "address": "0x200000dc",
                "name": "rxBad",
                "type": 5
            },
            {
                "address": "0x200000d8",
                "name": "rxGood",
                "type": 5
            },
            {
                "address": "0x08006ef4",
                "name": "SemaphoreKEY_attributes.attr_bits",
                "type": 5
            },
            {
                "address": "0x08006ef8",
                "name": "SemaphoreKEY_attributes.cb_mem",
                "type": 5
            },
            {
                "address": "0x08006efc",
                "name": "SemaphoreKEY_attributes.cb_size",
                "type": 5
            },
            {
                "address": "0x08006ef0",
                "name": "SemaphoreKEY_attributes.name",
                "type": 5
            },
            {
                "address": "0x20000258",
                "name": "SemaphoreKEYHandle",
                "type": 5
            },
            {
                "address": "0x08006f04",
                "name": "SemDIO_RF69_attributes.attr_bits",
                "type": 5
            },
            {
                "address": "0x08006f08",
                "name": "SemDIO_RF69_attributes.cb_mem",
                "type": 5
            },
            {
                "address": "0x08006f0c",
                "name": "SemDIO_RF69_attributes.cb_size",
                "type": 5
            },
            {
                "address": "0x08006f00",
                "name": "SemDIO_RF69_attributes.name",
                "type": 5
            },
            {
                "address": "0x2000668c",
                "name": "SemDIO_RF69ControlBlock.pvDummy1[0]",
                "type": 5
            },
            {
                "address": "0x20006698",
                "name": "SemDIO_RF69ControlBlock.u.pvDummy2",
                "type": 5
            },
            {
                "address": "0x20006698",
                "name": "SemDIO_RF69ControlBlock.u.uxDummy2",
                "type": 5
            },
            {
                "address": "0x200066d0",
                "name": "SemDIO_RF69ControlBlock.ucDummy5[0]",
                "type": 1
            },
            {
                "address": "0x200066d2",
                "name": "SemDIO_RF69ControlBlock.ucDummy6",
                "type": 1
            },
            {
                "address": "0x200066d8",
                "name": "SemDIO_RF69ControlBlock.ucDummy9",
                "type": 1
            },
            {
                "address": "0x200066c4",
                "name": "SemDIO_RF69ControlBlock.uxDummy4[0]",
                "type": 5
            },
            {
                "address": "0x200066d4",
                "name": "SemDIO_RF69ControlBlock.uxDummy8",
                "type": 5
            },
            {
                "address": "0x200066a0",
                "name": "SemDIO_RF69ControlBlock.xDummy3[0].pvDummy3",
                "type": 5
            },
            {
                "address": "0x2000669c",
                "name": "SemDIO_RF69ControlBlock.xDummy3[0].uxDummy2",
                "type": 5
            },
            {
                "address": "0x200066a8",
                "name": "SemDIO_RF69ControlBlock.xDummy3[0].xDummy4.pvDummy3[0]",
                "type": 5
            },
            {
                "address": "0x200066a4",
                "name": "SemDIO_RF69ControlBlock.xDummy3[0].xDummy4.xDummy2",
                "type": 5
            },
            {
                "address": "0x2000025c",
                "name": "SemDIO_RF69Handle",
                "type": 5
            },
            {
                "address": "0x08006f14",
                "name": "SemTimer_RF69_attributes.attr_bits",
                "type": 5
            },
            {
                "address": "0x08006f18",
                "name": "SemTimer_RF69_attributes.cb_mem",
                "type": 5
            },
            {
                "address": "0x08006f1c",
                "name": "SemTimer_RF69_attributes.cb_size",
                "type": 5
            },
            {
                "address": "0x08006f10",
                "name": "SemTimer_RF69_attributes.name",
                "type": 5
            },
            {
                "address": "0x200066dc",
                "name": "SemTimer_RF69ControlBlock.pvDummy1[0]",
                "type": 5
            },
            {
                "address": "0x200066e8",
                "name": "SemTimer_RF69ControlBlock.u.pvDummy2",
                "type": 5
            },
            {
                "address": "0x200066e8",
                "name": "SemTimer_RF69ControlBlock.u.uxDummy2",
                "type": 5
            },
            {
                "address": "0x20006720",
                "name": "SemTimer_RF69ControlBlock.ucDummy5[0]",
                "type": 1
            },
            {
                "address": "0x20006722",
                "name": "SemTimer_RF69ControlBlock.ucDummy6",
                "type": 1
            },
            {
                "address": "0x20006728",
                "name": "SemTimer_RF69ControlBlock.ucDummy9",
                "type": 1
            },
            {
                "address": "0x20006714",
                "name": "SemTimer_RF69ControlBlock.uxDummy4[0]",
                "type": 5
            },
            {
                "address": "0x20006724",
                "name": "SemTimer_RF69ControlBlock.uxDummy8",
                "type": 5
            },
            {
                "address": "0x200066f0",
                "name": "SemTimer_RF69ControlBlock.xDummy3[0].pvDummy3",
                "type": 5
            },
            {
                "address": "0x200066ec",
                "name": "SemTimer_RF69ControlBlock.xDummy3[0].uxDummy2",
                "type": 5
            },
            {
                "address": "0x200066f8",
                "name": "SemTimer_RF69ControlBlock.xDummy3[0].xDummy4.pvDummy3[0]",
                "type": 5
            },
            {
                "address": "0x200066f4",
                "name": "SemTimer_RF69ControlBlock.xDummy3[0].xDummy4.xDummy2",
                "type": 5
            },
            {
                "address": "0x20000260",
                "name": "SemTimer_RF69Handle",
                "type": 5
            },
            {
                "address": "0x200001f0",
                "name": "status",
                "type": 6
            },
            {
                "address": "0x2000000c",
                "name": "SystemCoreClock",
                "type": 5
            },
            {
                "address": "0x08006e9c",
                "name": "TaskDIO_RF69_attributes.attr_bits",
                "type": 5
            },
            {
                "address": "0x08006ea0",
                "name": "TaskDIO_RF69_attributes.cb_mem",
                "type": 5
            },
            {
                "address": "0x08006ea4",
                "name": "TaskDIO_RF69_attributes.cb_size",
                "type": 5
            },
            {
                "address": "0x08006e98",
                "name": "TaskDIO_RF69_attributes.name",
                "type": 5
            },
            {
                "address": "0x08006eb0",
                "name": "TaskDIO_RF69_attributes.priority",
                "type": 4
            },
            {
                "address": "0x08006eb8",
                "name": "TaskDIO_RF69_attributes.reserved",
                "type": 5
            },
            {
                "address": "0x08006ea8",
                "name": "TaskDIO_RF69_attributes.stack_mem",
                "type": 5
            },
            {
                "address": "0x08006eac",
                "name": "TaskDIO_RF69_attributes.stack_size",
                "type": 5
            },
            {
                "address": "0x08006eb4",
                "name": "TaskDIO_RF69_attributes.tz_module",
                "type": 5
            },
            {
                "address": "0x2000024c",
                "name": "TaskDIO_RF69Handle",
                "type": 5
            },
            {
                "address": "0x08006e78",
                "name": "TaskKey_attributes.attr_bits",
                "type": 5
            },
            {
                "address": "0x08006e7c",
                "name": "TaskKey_attributes.cb_mem",
                "type": 5
            },
            {
                "address": "0x08006e80",
                "name": "TaskKey_attributes.cb_size",
                "type": 5
            },
            {
                "address": "0x08006e74",
                "name": "TaskKey_attributes.name",
                "type": 5
            },
            {
                "address": "0x08006e8c",
                "name": "TaskKey_attributes.priority",
                "type": 4
            },
            {
                "address": "0x08006e94",
                "name": "TaskKey_attributes.reserved",
                "type": 5
            },
            {
                "address": "0x08006e84",
                "name": "TaskKey_attributes.stack_mem",
                "type": 5
            },
            {
                "address": "0x08006e88",
                "name": "TaskKey_attributes.stack_size",
                "type": 5
            },
            {
                "address": "0x08006e90",
                "name": "TaskKey_attributes.tz_module",
                "type": 5
            },
            {
                "address": "0x20000248",
                "name": "TaskKeyHandle",
                "type": 5
            },
            {
                "address": "0x08006ec0",
                "name": "TaskTIM_RF69_attributes.attr_bits",
                "type": 5
            },
            {
                "address": "0x08006ec4",
                "name": "TaskTIM_RF69_attributes.cb_mem",
                "type": 5
            },
            {
                "address": "0x08006ec8",
                "name": "TaskTIM_RF69_attributes.cb_size",
                "type": 5
            },
            {
                "address": "0x08006ebc",
                "name": "TaskTIM_RF69_attributes.name",
                "type": 5
            },
            {
                "address": "0x08006ed4",
                "name": "TaskTIM_RF69_attributes.priority",
                "type": 4
            },
            {
                "address": "0x08006edc",
                "name": "TaskTIM_RF69_attributes.reserved",
                "type": 5
            },
            {
                "address": "0x08006ecc",
                "name": "TaskTIM_RF69_attributes.stack_mem",
                "type": 5
            },
            {
                "address": "0x08006ed0",
                "name": "TaskTIM_RF69_attributes.stack_size",
                "type": 5
            },
            {
                "address": "0x08006ed8",
                "name": "TaskTIM_RF69_attributes.tz_module",
                "type": 5
            },
            {
                "address": "0x200061e0",
                "name": "TaskTIM_RF69Buffer[0]",
                "type": 5
            },
            {
                "address": "0x200065e0",
                "name": "TaskTIM_RF69ControlBlock.pxDummy1",
                "type": 5
            },
            {
                "address": "0x20006610",
                "name": "TaskTIM_RF69ControlBlock.pxDummy6",
                "type": 5
            },
            {
                "address": "0x20006638",
                "name": "TaskTIM_RF69ControlBlock.ucDummy19",
                "type": 1
            },
            {
                "address": "0x20006614",
                "name": "TaskTIM_RF69ControlBlock.ucDummy7[0]",
                "type": 1
            },
            {
                "address": "0x20006634",
                "name": "TaskTIM_RF69ControlBlock.ulDummy18",
                "type": 5
            },
            {
                "address": "0x20006624",
                "name": "TaskTIM_RF69ControlBlock.uxDummy10[0]",
                "type": 5
            },
            {
                "address": "0x2000662c",
                "name": "TaskTIM_RF69ControlBlock.uxDummy12[0]",
                "type": 5
            },
            {
                "address": "0x20006639",
                "name": "TaskTIM_RF69ControlBlock.uxDummy20",
                "type": 1
            },
            {
                "address": "0x2000660c",
                "name": "TaskTIM_RF69ControlBlock.uxDummy5",
                "type": 5
            },
            {
                "address": "0x200065e8",
                "name": "TaskTIM_RF69ControlBlock.xDummy3[0].pvDummy3[0]",
                "type": 5
            },
            {
                "address": "0x200065e4",
                "name": "TaskTIM_RF69ControlBlock.xDummy3[0].xDummy2",
                "type": 5
            },
            {
                "address": "0x20000250",
                "name": "TaskTIM_RF69Handle",
                "type": 5
            },
            {
                "address": "0x200000e0",
                "name": "txGood",
                "type": 5
            },
            {
                "address": "0x20000f40",
                "name": "ucHeap[0]",
                "type": 1
            },
            {
                "address": "0x20000094",
                "name": "ucMaxSysCallPriority",
                "type": 1
            },
            {
                "address": "0x2000009c",
                "name": "ulMaxPRIGROUPValue",
                "type": 5
            },
            {
                "address": "0x20000008",
                "name": "uwTick",
                "type": 5
            },
            {
                "address": "0x20000000",
                "name": "uwTickFreq",
                "type": 2
            },
            {
                "address": "0x20000004",
                "name": "uwTickPrio",
                "type": 5
            },
            {
                "address": "0x20000098",
                "name": "uxCriticalNesting",
                "type": 5
            },
            {
                "address": "0x20000018",
                "name": "uxCurrentNumberOfTasks",
                "type": 5
            },
            {
                "address": "0x20000014",
                "name": "uxDeletedTasksWaitingCleanUp",
                "type": 5
            },
            {
                "address": "0x20000040",
                "name": "uxSchedulerSuspended",
                "type": 5
            },
            {
                "address": "0x20000034",
                "name": "uxTaskNumber",
                "type": 5
            },
            {
                "address": "0x20000020",
                "name": "uxTopReadyPriority",
                "type": 5
            },
            {
                "address": "0x20000864",
                "name": "xActiveTimerList1.pxIndex",
                "type": 5
            },
            {
                "address": "0x20000860",
                "name": "xActiveTimerList1.uxNumberOfItems",
                "type": 5
            },
            {
                "address": "0x2000086c",
                "name": "xActiveTimerList1.xListEnd.pxNext",
                "type": 5
            },
            {
                "address": "0x20000870",
                "name": "xActiveTimerList1.xListEnd.pxPrevious",
                "type": 5
            },
            {
                "address": "0x20000868",
                "name": "xActiveTimerList1.xListEnd.xItemValue",
                "type": 5
            },
            {
                "address": "0x20000878",
                "name": "xActiveTimerList2.pxIndex",
                "type": 5
            },
            {
                "address": "0x20000874",
                "name": "xActiveTimerList2.uxNumberOfItems",
                "type": 5
            },
            {
                "address": "0x20000880",
                "name": "xActiveTimerList2.xListEnd.pxNext",
                "type": 5
            },
            {
                "address": "0x20000884",
                "name": "xActiveTimerList2.xListEnd.pxPrevious",
                "type": 5
            },
            {
                "address": "0x2000087c",
                "name": "xActiveTimerList2.xListEnd.xItemValue",
                "type": 5
            },
            {
                "address": "0x20000088",
                "name": "xBlockAllocatedBit",
                "type": 5
            },
            {
                "address": "0x20000710",
                "name": "xDelayedTaskList1.pxIndex",
                "type": 5
            },
            {
                "address": "0x2000070c",
                "name": "xDelayedTaskList1.uxNumberOfItems",
                "type": 5
            },
            {
                "address": "0x20000718",
                "name": "xDelayedTaskList1.xListEnd.pxNext",
                "type": 5
            },
            {
                "address": "0x2000071c",
                "name": "xDelayedTaskList1.xListEnd.pxPrevious",
                "type": 5
            },
            {
                "address": "0x20000714",
                "name": "xDelayedTaskList1.xListEnd.xItemValue",
                "type": 5
            },
            {
                "address": "0x20000724",
                "name": "xDelayedTaskList2.pxIndex",
                "type": 5
            },
            {
                "address": "0x20000720",
                "name": "xDelayedTaskList2.uxNumberOfItems",
                "type": 5
            },
            {
                "address": "0x2000072c",
                "name": "xDelayedTaskList2.xListEnd.pxNext",
                "type": 5
            },
            {
                "address": "0x20000730",
                "name": "xDelayedTaskList2.xListEnd.pxPrevious",
                "type": 5
            },
            {
                "address": "0x20000728",
                "name": "xDelayedTaskList2.xListEnd.xItemValue",
                "type": 5
            },
            {
                "address": "0x20000078",
                "name": "xFreeBytesRemaining",
                "type": 5
            },
            {
                "address": "0x20000064",
                "name": "xHeapRegions[0].pucStartAddress",
                "type": 5
            },
            {
                "address": "0x20000068",
                "name": "xHeapRegions[0].xSizeInBytes",
                "type": 5
            },
            {
                "address": "0x2000003c",
                "name": "xIdleTaskHandle",
                "type": 5
            },
            {
                "address": "0x2000007c",
                "name": "xMinimumEverFreeBytesRemaining",
                "type": 5
            },
            {
                "address": "0x20000038",
                "name": "xNextTaskUnblockTime",
                "type": 5
            },
            {
                "address": "0x20000080",
                "name": "xNumberOfSuccessfulAllocations",
                "type": 5
            },
            {
                "address": "0x20000084",
                "name": "xNumberOfSuccessfulFrees",
                "type": 5
            },
            {
                "address": "0x20000030",
                "name": "xNumOfOverflows",
                "type": 6
            },
            {
                "address": "0x20000028",
                "name": "xPendedTicks",
                "type": 5
            },
            {
                "address": "0x20000738",
                "name": "xPendingReadyList.pxIndex",
                "type": 5
            },
            {
                "address": "0x20000734",
                "name": "xPendingReadyList.uxNumberOfItems",
                "type": 5
            },
            {
                "address": "0x20000740",
                "name": "xPendingReadyList.xListEnd.pxNext",
                "type": 5
            },
            {
                "address": "0x20000744",
                "name": "xPendingReadyList.xListEnd.pxPrevious",
                "type": 5
            },
            {
                "address": "0x2000073c",
                "name": "xPendingReadyList.xListEnd.xItemValue",
                "type": 5
            },
            {
                "address": "0x2000026c",
                "name": "xQueueRegistry[0].pcQueueName",
                "type": 5
            },
            {
                "address": "0x20000270",
                "name": "xQueueRegistry[0].xHandle",
                "type": 5
            },
            {
                "address": "0x20000024",
                "name": "xSchedulerRunning",
                "type": 6
            },
            {
                "address": "0x2000008c",
                "name": "xStart.pxNextFreeBlock",
                "type": 5
            },
            {
                "address": "0x20000090",
                "name": "xStart.xBlockSize",
                "type": 5
            },
            {
                "address": "0x20000760",
                "name": "xSuspendedTaskList.pxIndex",
                "type": 5
            },
            {
                "address": "0x2000075c",
                "name": "xSuspendedTaskList.uxNumberOfItems",
                "type": 5
            },
            {
                "address": "0x20000768",
                "name": "xSuspendedTaskList.xListEnd.pxNext",
                "type": 5
            },
            {
                "address": "0x2000076c",
                "name": "xSuspendedTaskList.xListEnd.pxPrevious",
                "type": 5
            },
            {
                "address": "0x20000764",
                "name": "xSuspendedTaskList.xListEnd.xItemValue",
                "type": 5
            },
            {
                "address": "0x2000074c",
                "name": "xTasksWaitingTermination.pxIndex",
                "type": 5
            },
            {
                "address": "0x20000748",
                "name": "xTasksWaitingTermination.uxNumberOfItems",
                "type": 5
            },
            {
                "address": "0x20000754",
                "name": "xTasksWaitingTermination.xListEnd.pxNext",
                "type": 5
            },
            {
                "address": "0x20000758",
                "name": "xTasksWaitingTermination.xListEnd.pxPrevious",
                "type": 5
            },
            {
                "address": "0x20000750",
                "name": "xTasksWaitingTermination.xListEnd.xItemValue",
                "type": 5
            },
            {
                "address": "0x2000001c",
                "name": "xTickCount",
                "type": 5
            },
            {
                "address": "0x2000004c",
                "name": "xTimerQueue",
                "type": 5
            },
            {
                "address": "0x20000050",
                "name": "xTimerTaskHandle",
                "type": 5
            },
            {
                "address": "0x2000002c",
                "name": "xYieldPending",
                "type": 6
            }
        ],
        "expand": false,
        "filename": "RFM69_T.axf",
        "exeModifiedTime": 1629658983407,
        "configLastUpdate": 1638985211574
    },
    {
        "id": "17d09b07.741a55",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]